@media (max-width: 576px) {
  .card {
    flex-direction: row;
  }
}

.img-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/*LABEL SIZES AND BREAKPOINTS*/

label#cepLocacao{width: 20%;}
label#enderecoLocacao{width: 64%;}
label#numEndLocacao{width: 15%;}
label#compEndLocacao{width: 20%;}
label#bairroLocacao{width: 35%;}
label#cidadeLocacao{width: 35%;}
label#estadoLocacao{width: 8.7%;}
label#ftc{width: 22%;}
label#gestor{width: 55%;}
label#status{width: 22%;}
label#inicioLocacao{width: 33%;}
label#fimLocacao{width: 33%;}
label#valorAluguel{width: 33%;}
label#imagensLocacao{width: 49.5%;}
label#contratosLocacao{width: 50%;}
label#enviarLocacao{width: 100%;}

@media (max-width: 576px) {
  label#cepLocacao, label#enderecoLocacao, label#numEndLocacao, label#compEndLocacao, label#bairroLocacao, label#cidadeLocacao, label#estadoLocacao,
  label#ftc, label#gestor, label#status, label#inicioLocacao,  label#fimLocacao,  label#valorAluguel,  label#imagensLocacao,  label#contratosLocacao,  label#enviarLocacao{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  label#cepLocacao, label#enderecoLocacao, label#numEndLocacao, label#compEndLocacao, label#bairroLocacao, label#cidadeLocacao, label#estadoLocacao,
  label#ftc, label#gestor, label#status, label#inicioLocacao,  label#fimLocacao,  label#valorAluguel,  label#imagensLocacao,  label#contratosLocacao,  label#enviarLocacao{
    width: 49.5%;
    margin-left: 0;
    margin-right: 0;
  }

  label#enviarLocacao {
    width: 100%;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  label#cidadeLocacao{width: 34.8%;}
}
