* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: rgb(189, 189, 189);
}

.navbar-brand img {
  width: 40px;
}

@media (max-width: 576px) {
  .card {
    flex-direction: row;
  }
}

.img-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.btn-modal {
  margin-top: 10px;
}

.btn.btn-laranja {
  width: 100%;
  background-color: #e28800;
  color: white;
  &:hover {
    background-color: #c57600;
    color: white;
  }
}

label#endereco{width: 55%;}
label#numero{width: 15%;}
label#complemento{width: 29%;}
label#bairro{width: 46%;}
label#cidade{width: 46%;}
label#estado{width: 7%;}
label#enviarLocacao{width: 99.5%;}
label#cep{width: 40%;}

@media (max-width: 576px) {
  label#endereco, label#numero, label#complemento, label#bairro, label#cidade, label#estado, label#enviarLocacao{
    width: 100%;
  }
}