* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: rgb(189, 189, 189);
}

.navbar-brand img {
  width: 40px;
}

@media (max-width: 576px) {
  .card {
    flex-direction: row;
  }
}

.img-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.btn-modal {
  margin-top: 10px;
}

.btn.btn-laranja {
  width: 100%;
  background-color: #e28800;
  color: white;
  &:hover {
    background-color: #c57600;
    color: white;
  }
}


label#tipoPessoa{width: 19%;}
label#nomePessoa{width: 40%;}
label#email{width: 40%;}
label#telefone1 {width: 30%; margin-left: 12%; margin-right: 12%;}
label#telefone2 {width: 30%;}
label#cargo, label#setor, label#unidade{width: 33%;}
label#enviarLocacao{width: 100%;}

@media (max-width: 576px) {
  label#tipoPessoa, label#nomePessoa, label#email, label#telefone1, label#telefone2, label#cargo, label#setor, label#unidade, label#enviarLocacao{
    width: 100%;
  }
}