* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: rgb(189, 189, 189);
}
.menu a {
  width: 18rem;
}

.card {
  width: 25rem;
}

.card-text#piechart {
  margin: 0;
  padding: 0;
}