.page {
  background-color: rgb(145, 149, 153);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.infoUser {
  padding: 0.5rem 0.25rem;
}

.infoUser p {
  margin: 0;
}

@media (max-width: 576px) {
  .page{
    background: url(/assets/img/background-mobile.svg);
    background-size: 100%;
  }
}