* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: rgb(189, 189, 189);
}

.navbar-brand img {
  width: 40px;
}

.infoUser {
  padding: 0.5rem 0.25rem;
}

.infoUser p {
  margin: 0;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}