* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: rgb(189, 189, 189);
}

.navbar-brand img {
  width: 60px;
}

.infoUser {
  padding: 0.5rem 0.25rem;
}

.infoUser p {
  margin: 0;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.pdf-icon {
  width: 48px;
  height: 48px;
  background: url('../img/pdf.png') no-repeat center center;
  background-size: contain;
  margin: 0 auto;
}
.excel-icon {
  width: 48px;
  height: 48px;
  background: url('../img/xls.png') no-repeat center center;
  background-size: contain;
  margin: 0 auto;
}
.word-icon {
  width: 48px;
  height: 48px;
  background: url('../img/doc.png') no-repeat center center;
  background-size: contain;
  margin: 0 auto;
}

.linkAnexo {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: black;
  &:hover{
    color: orange;
  }
}