* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: rgb(189, 189, 189);
}

.navbar-brand img {
  width: 40px;
}

.card {
  margin-top: 10px;
  width: 254px;
}

.card-img-top {
  height: 200px;
}

.card-body {
  max-height: 190px;
}

.dropdown-menu::after {
  transition: 2s;
}

.btn.btn-laranja {
  width: 100%;
  background-color: #e28800;
  color: white;
  &:hover {
    background-color: #c57600;
    color: white;
  }
}