.card {
  margin-top: 10px;
  width: 300px;
}

.card-img-top {
  height: 200px;
}

.card-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}